.footer {
    background: #459EFF;
    padding: 60px 0px 70px 0px;
    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .items {
            flex-basis: 23%;
            &:first-child {
                flex-basis: 48%;
            }
            h2 {
                font-family: Livvic;
                font-style: normal;
                font-weight: 600;
                font-size: 24px;
                line-height: 32px;
                /* identical to box height, or 133% */
                margin-bottom: 19px;
                
                color: #FFFFFF;
            }
            p {
                font-family: Livvic;
                font-style: normal;
                font-weight: normal;
                font-size: 15px;
                line-height: 24px;
                /* or 160% */
                margin-bottom: 30px;
                margin-right: 10px;
                
                color: #FFFFFF;
                a {
                    margin: 0px 10px 0px 0px;
                    text-decoration: none;
                    img {

                    }
                    &:first-child {
                        margin-left: 10px;
                    }
                }
            }
            ul {
                padding: 0;
                list-style: none;
                li {
                    font-family: Livvic;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 15px;
                    line-height: 24px;
                    /* or 160% */
                    
                    
                    color: #FFFFFF;
                }
            }

        }
    }
}